/.idea*
**/venv*
*.pyc
*.egg
*.egg-info/
**/.eggs
**.cache/
.pytest_cache
.vscode
build/

scripts/osdu_summary/configs/*
!scripts/osdu_summary/configs/config.json.tmpl

scripts/manifest_loader/configs/*
!scripts/manifest_loader/configs/config.json.tmpl

*_tests_results.xml
*_tests_coverage.xml

.coverage
